<div class="page-container" >

  <form [formGroup]="signUpForm" class="sign-up-form">

    <h1 class="title"> Unite a Wolox </h1>
    <div class="sign-up-card">

      <div class="fields-container">

        <div class="input-wrapper">
          <input formControlName="nombre" type="text" class="form-control">
          <label data-label="Nombre">		</label>
        </div>

        <div class="input-wrapper">
          <input formControlName="apellido" type="text">
          <label data-label="Apellido"></label>
        </div>

      </div>


      <div class="fields-container">

        <div class="input-wrapper">
          <input formControlName="email" type="text">
          <label data-label="Correo Electronico"></label>
        </div>

        <div class="input-wrapper">
          <input formControlName="telefono" type="text">
          <label data-label="Telefono"></label>
        </div>

      </div>

      <div class="fields-container">

        <div class="input-wrapper">
          <input formControlName="password" type="password">
          <label data-label="Contraseña"></label>
        </div>

        <div class="input-wrapper">
          <input formControlName="repeatPassword" type="password">
          <label data-label="Repetir Contraseña"></label>
          <!-- <p *ngIf="form" class="help is-danger">not match</p> -->
        </div>

      </div>



    </div>

    <!-- <select formControlName="idCountry">
      <label>Pais</label>
      <option *ngFor="let country of countries" [value]="country.id" >{{country.description}}</option>
    </select>

    <select formControlName="idCountry">
      <label>Provincias</label>
      <option *ngFor="let province of provinces" [value]="province.id" >{{province.description}}</option>
    </select>


    <button type="submit" (click)="submit()">Submit</button> -->
  </form>

</div>

