<div class="page-container" >

  <form [formGroup]="signUpForm" class="sign-up-form">

    <h1 class="title"> Unite a Wolox </h1>
    <div class="sign-up-card">

      <div class="fields-container">

        <div class="input-wrapper">
          <input formControlName="nombre" type="text" class="form-control">
          <label data-label="Nombre">		</label>
        </div>

        <div class="input-wrapper">
          <input formControlName="apellido" type="text">
          <label data-label="Apellido"></label>
        </div>

      </div>

      <div class="fields-container">

        <div class="input-wrapper">
          <input formControlName="email" type="text">
          <label data-label="Correo Electronico"></label>
        </div>

        <div class="input-wrapper">
          <input formControlName="telefono" type="text">
          <label data-label="Telefono"></label>
        </div>

      </div>

      <div class="fields-container">

        <div class="select">
          <select formControlName="country">
            <label>Pais</label>
            <option *ngFor="let country of countries | async" [value]="country.id" >{{country.description}}</option>
          </select>
          <span class="focus"></span>
        </div>

        <div class="select">
          <select formControlName="province">
            <label>Provincias</label>
            <option *ngFor="let province of provinces" [value]="province.id" >{{province.description}}</option>
          </select>
          <span class="focus"></span>
        </div>
      </div>

      <div class="fields-container">

        <div class="input-wrapper">
          <input formControlName="password" type="password">
          <label data-label="Contraseña"></label>
        </div>

        <div class="input-wrapper">
          <input formControlName="repeatPassword" type="password">
          <label data-label="Repetir Contraseña"></label>
        </div>

      </div>

      <div class="tyc-container" controlErrorContainer>
        <input type="checkbox" class="checkbox" formControlName="termsAndConditions" [customErrors]="customErrors">
        <div class="tyc-container_terms">
          Acepto los <a target="_blank" href="https://google.com.ar">Términos y Condiciones</a> y autorizo el uso de mis datos de acuerdo a la <a target="_blank" href="https://www.google.com.ar/privacidad">Declaración de Privacidad</a>.
        </div>
      </div>

    </div>

    <button class="sign-up button-primary" type="submit">Sign Up</button>





  </form>

</div>

