@mixin button ($background-color, $text-color, $text-transform: uppercase, $spacing: 3px) {
  border-radius: 32px;
  font-weight: 700;
  padding: 6px 24px;
  z-index: 1;
  text-decoration: none;
  border: 1px solid $primary;
  letter-spacing: $spacing;
  text-transform: $text-transform;
  background-color: $background-color;
  color: $text-color;
}

.button-primary {
  @include button(transparent, $primary)
}

.button-primary-white {
  @include button(transparent, $white, none, 1px)
}

.button-secondary {
  @include button($primary, $white, none, 1px)
}
