// GENERAL
$primary: #00A9E5;
$secondary: #A9CF48;

// Colors
$white: #FFFFFF;

// Font Sizes
$font-size-xbig: 4rem;
$font-size-big: 3rem;
$font-size-md: 1.5rem;
$font-size-small: 1rem;

// Fonts
$primary-font: 'Montserrat', sans-serif;

//NAV
$navbar-height: 100px;
