@import "src/styles/variables.scss";

nav {
  top: 0;
  width: 100%;
  height: $navbar-height;
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform .35s,opacity .2s;
}

nav .content-wrapper {
  transform: translateY(-65%);
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.logo-container {
  display: flex;
  color: inherit;
  align-items: center;
}

.logo {
  transition: color .3s;
}

.navbar-menu-container {
  display: flex;
  align-items: center;
}

.navbar-text {
  color: inherit;
  letter-spacing: 1.2px;
  margin: 0 22px;
  // text-transform: uppercase;
  transition: text-shadow .3s;
}

.menu-item {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.sign-up {
  margin-left: 22px;
}

@media only screen and (min-device-width : 768px) {

  nav {
    position: fixed;
  }

}
