
@import "src/styles/variables.scss";


h1 {
  font-size: calc(1.3em + 2vw);
  font-weight: 300;

  .bold {
    font-weight: 900;
  }
}

h2 {
  font-size: calc(1em + 1vw);
  margin-top: 1em;
}

.text-ubold {
  font-weight: 900;
  font-size: calc(1.5em + 5vh);
}

.button-primary-white {
  margin: 1em;
  font-weight: normal;
  padding: 0.8em 3.3em;

  a {
    text-decoration: none;
    color: $white;
  }
}

.text-center {
  text-align: center;
}

.wx-txt-xbig {
  font-size: $font-size-xbig;
  font-weight: 700;
}

.twitter-wx {
  display: flex;
  align-items: center;
  margin: 1em;
  svg {
    fill: #ffffff;
  }
  p {
    padding-left: 1rem;
    color: #ffffff;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
  width: 90vw;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  flex-direction: column;
  padding: 3em;

  .svg-container {
    margin-bottom: 1.3em;
  }

  .text-card {
    text-align: center;
    font-weight: 700;
  }
}


section {
  display: flex;
  align-items: center;
  min-height: auto;

  .content-wrapper {
    display: flex;
  }

  .content-wrapper {
    .wx-image {
      transform: scaleX(-1);
    }
  }

  .item-woloxer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/img_woloxer.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

section.first {
  background-image: url('../../../assets/Backgrounds/Bg_Header.png');
  justify-content: center;
  padding: 20vh 0;
}

section.third {
  flex-direction: column;
}


// MIN SIZE QUERY

@media only screen and (min-device-width : 290px) and (max-device-width : 480px) {


  section {
    .content-wrapper {
      flex-direction: column;

      .centralize {
        align-items: center;
      }

      .item-woloxer {
        min-height: 250px;
      }

      .box {
        padding: 1rem 1rem 0 1rem;
      }

      .text-ubold {
        font-weight: 900;
        font-size: $font-size-big;
      }

      .wx-image {
        max-width: 100%;
      }
    }

    .card-container {
      justify-content: center;
    }
  }

}

@media only screen and (min-device-width : 480px) and (max-device-width : 1280px) {


  .content-wrapper {

    align-items: center;
    flex-direction: column;
    width: 100%;

    .text-basic {
      // font-size: $font-size-md;
      max-width: 560px;
      text-align: center;
    }

    .wx-image {
      max-width: 100%;
    }

    .centralize {
      align-items: center;
    }

    .item-woloxer {
      min-height: 500px;
      width: 100vw;
    }
  }

  .card-container {
    justify-content: center;
  }

}


@media only screen and (min-device-width : 1280px) {


  .content-wrapper {
    width: 100%;
    flex-direction: row;
    .box {
      width: 50%;
    }
    div.box {
      text-align: center;
    }

    .item-woloxer {
      min-height: 500px;
    }

    .item-text {
      width: 60%;
      text-align: center;
      margin: 0 auto;
    }

    .text-wrapper {
      align-self: center;
      // background-color: $gray;
    }

    .woloxer-image {
      width: 100%;
    }
  }

  section.first {
    .content-wrapper {
      max-width: 1260px;
    }
  }

  .card-container {
    justify-content: space-between;
  }

}
