@import "./styles/main.scss";

.page-container {
  padding-top: $navbar-height;
  height: calc(100vh - 100px);
}

.badge-wrapper {
  background-color: #007BFF;
  color: white !important;
  border-radius: 10px;
  padding: .4rem;
  .badge {
    background-color: white;
    padding: 0 5px;
    color: black;
    font-size: 14px;
  }
}


.center {
  margin: auto;
}

.text-secondary {
  color: $secondary;
}

.text-primary {
  color: $primary;
}

.capitalize {
  text-transform: capitalize;
}



