@import "./styles/main.scss";

.center {
  margin: auto;
}

.text-secondary {
  color: $secondary;
}

.text-primary {
  color: $primary;
}

.capitalize {
  text-transform: capitalize;
}

.page-container {
  padding-top: $navbar-height;
}
